@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-image: url("assets/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#container {
  color: white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  height: 15vh;
}

#epicode_logo {
  width: 15%;
  margin-top: 1%;
  margin-left: 10%;
  user-select: none;
}

#MAIN {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#heading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Outfit;
  font-size: clamp(1em, 10vw, 5em);
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 1%;
}

#heading-area p {
  margin-top: 0;
  margin-bottom: 10%;
  font-family: Inter;
  font-weight: 400;
  font-size: clamp(0.5em, 20vw, 1em);
}

#main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  position: relative;
  /* background-color: aqua; */
}

.outer {
  background-color: #d20094;
  width: 300px;
  height: 300px;
  /* background-color: white; */
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(15, 11, 31);
  position: relative;
}

.inner {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgb(15, 11, 31);
  position: absolute;
  top: 40px;
  left: 40px;
}
#inner-text-passed {
  height: 300px;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner-text-failed {
  height: 300px;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.final-greeting {
  font-family: Outfit;
  font-weight: bold;
}

.final-result {
  font-family: Outfit;
  font-weight: bold;
  color: aqua;
  padding-bottom: 20px;
}

.final-message {
  font-family: Inter;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.644);
}

#wrong {
  color: rgba(255, 255, 255, 0.792);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#wrong p {
  margin: 0;
  font-family: Outfit;
  font-size: clamp(0.5em, 10vw, 2em);
}

#wrong-percentage {
  font-family: Outfit;
  font-weight: bold;
  font-size: clamp(0.5em, 10vw, 2em);
}

#correct {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#correct p {
  margin: 0;
  font-family: Outfit;
  font-size: clamp(0.5em, 10vw, 2em);
}

#correct-percentage {
  font-family: Outfit;
  font-weight: bold;
  font-size: clamp(0.5em, 10vw, 2em);
}

.questions {
  color: rgba(255, 255, 255, 0.644);
  font-size: clamp(0.1em, 10vw, 1em);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

circle {
  width: 300px;
  height: 300px;
  fill: none;
  stroke: aqua;
  stroke-linecap: butt;
  stroke-width: 27px;
  stroke-dasharray: 562;
  stroke-dashoffset: 562;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 200;
  }
}

#bottom-area {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rateUs {
  width: 200px;
  height: 60px;
  font-size: 22px;
  font-family: Outfit;
  font-weight: bold;
  background-color: unset;
  border: 2px solid white;
  color: white;
  transition: box-shadow 0.2s ease;
  transition: background-color 0.2s ease;
  user-select: none;
}

#rateUs:hover {
  font-weight: bold;
  border: none;
  background-color: aqua;
  color: #143e61;
  text-align: center;
  font-size: 22px;
  font-family: Outfit;
  transition: box-shadow 0.5s ease;
  user-select: none;
  box-shadow: 0 0 40px #01ffff;
  cursor: pointer;
}

.container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(15, 11, 31);
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  background-image: url("./assets/bg.jpg");
  background-color: #0c113b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20px 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgb(15, 11, 31);
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
@media screen and (max-width: 768px) {
  #epicode_logo {
    margin: 0;
    height: 50px;
    width: 200px;
    padding: 1rem;
  }
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #correct {
    align-items: center;
    margin-bottom: 1rem;
  }
  #wrong {
    align-items: center;
    margin-top: 1rem;
  }
}
